In [ ]:
import matplotlib.pyplot as plt
x = [5,7,8,7,2,17,2,9,4,11,12,9,6]
y = [99,86,87,88,111,86,103,87,94,78,77,85,86]
plt.scatter(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
from scipy import stats
x = [5,7,8,7,2,17,2,9,4,11,12,9,6]
y = [99,86,87,88,111,86,103,87,94,78,77,85,86]

slope, intercept, r, p, std_err = stats.linregress(x, y)


def myfunc(x):
    return slope * x + intercept


mymodel = list(map(myfunc, x))


plt.scatter(x, y)
plt.plot(x, mymodel)
plt.show()

print(round(r, 2))

In [8]:
speed  = myfunc(10)
print(speed)

85.59308314937454

In [ ]:
x = [89,43,36,36,95,10,66,34,38,20,26,29,48,64,6,5,36,66,72,40]
y = [21,46,3,35,67,95,53,72,58,10,26,34,90,33,38,20,56,2,47,15]
slope, intercept, r, p, std_err = stats.linregress(x, y)

def myfunc(x):
    return  slope * x + intercept

mymodel = list(map(myfunc, x))

print("Pearson correlation coefficient: ", round(r, 2))
plt.scatter(x, y)
plt.plot(x, mymodel)
plt.show()

multiple regression

In [57]:
import pandas as pd
from sklearn import linear_model

data = pd.read_csv('dataset/data.csv')

X= data[['Weight','Volume']]
y=data['CO2']

reg = linear_model.LinearRegression()
reg.fit(X.values,y)

predictedCO2=reg.predict([[2300,1300]])

print(predictedCO2)
print(reg.coef_)

[107.2087328]
[0.00755095 0.00780526]

Dataset 1 variable regression

In [60]:
data = pd.read_csv('dataset/data1.txt')
data.to_csv('dataset/data1.csv')
data.columns = ['Size','Price']
data.head()

     Size    Price
0  5.5277   9.1302
1  8.5186  13.6620
2  7.0032  11.8540
3  5.8598   6.8233
4  8.3829  11.8860

In [82]:
X= data['Size']
Y=data['Price']


reg = linear_model.LinearRegression()
reg.fit(X.values.reshape(-1,1),Y)

regPred1000=regr.predict([[1000]])
regPred1500=regr.predict([[1500]])
regPred2000=regr.predict([[2000]])


print("Price For 1000 sqFt : ",regPred1000)
print("Price For 1500 sqFt : ",regPred1500)
print("Price For 2000 sqFt : ",regPred2000)
print("Price per sqFt : ",reg.coef_)

#checkin the accuracy of the model
print(reg.coef_*500==(regPred1500-regPred1000))
print(reg.coef_*500==(regPred2000-regPred1500))

Price For 1000 sqFt :  [1209.3357499]
Price For 1500 sqFt :  [1816.10937686]
Price For 2000 sqFt :  [2422.88300381]
Price per sqFt :  [134.3595694]
[False]
[False]

multiple variable regression

In [73]:
data = pd.read_csv('dataset/data2.txt')
data.to_csv('dataset/data2.csv')

data.columns = ['Size','Bedrooms','Price']
data.head()

   Size  Bedrooms   Price
0  1600         3  329900
1  2400         3  369000
2  1416         2  232000
3  3000         4  539900
4  1985         4  299900

In [88]:
x= data[['Size','Bedrooms']]
y = data['Price']

reg = linear_model.LinearRegression()
reg.fit(x.values,y)

predicted1 = reg.predict([[1400,6]])
predicted2 = reg.predict([[1200,6]])
predicted3 = reg.predict([[1300,3]])
print("Price for 1400 sqFt and 6 Bedrooms",predicted1)
print("Price for 1200 sqFt and 6 Bedrooms",predicted2)
print("Price for 1300 sqFt and 3 Bedrooms",predicted2)

print(reg.coef_)

Price for 1400 sqFt and 6 Bedrooms [232947.68271955]
Price for 1200 sqFt and 6 Bedrooms [205196.50703641]
Price for 1300 sqFt and 3 Bedrooms [205196.50703641]
[  138.75587842 -8186.38287595]